{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container text-center">

        <h1 class="display-5 m-5 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">Bienvenue sur le site: Faune et flore marine</h1>
        <h2 class="m-5">Accueil</h2>
            
            <p>Vous trouverez ici des informations sur la faune et la flore marine.</p>
            <p>Vous pouvez consulter les différentes espèces de poissons, de coraux, de crustacés, etc.</p>
            <p>Vous pouvez également consulter les différentes régions marines.</p>
        
        <div class="row m-5">
            <div class="col">
                <h2>La faune marine</h2>
                    <p>Consultez les différentes espèces de poissons, de coraux, de crustacés, etc.</p>
                    <p><a class="btn btn-primary" href="/fauna" role="button">Voir la faune</a></p>
            </div>
            <div class="col">
                <h2>La flore marine</h2>
                    <p>Consultez les différentes espèces de plantes à fleur, etc.</p>
                    <p><a class="btn btn-primary" href="/flora" role="button">Voir la flore</a></p>
            </div>
            <div class="col">
                <h2>Les régions marines</h2>
                    <p>Consultez les différentes régions marines.</p><br>
                    <p><a class="btn btn-primary disabled" href="#" role="button">Voir les régions marines</a></p>
            </div>
        </div>
    </div>
{{ include('partials/footer.html.twig') }}
{% endblock %}
