{% extends 'admin/admin.html.twig' %}

{% block title "Faune :" ~ fauna.name %}

{% block body %}

<h1>Editer la Faune</h1>

<h2>{{ fauna.name }}</h2>

    {{ form(form) }}  

{{ include('partials/footer.html.twig') }}

{% endblock %}