{% extends 'admin/admin.html.twig' %}

{% block title "Faune :" ~ fauna.name %}


{% block body %}


    <h1>{{ fauna.name }}</h1>
    

        {{ form(form) }} 
    

{{ include('partials/footer.html.twig') }}
{% endblock %}