{% extends 'admin/admin.html.twig' %}

{% block title "Faune :" ~ fauna.name %}

{% block body %}

<h1>Editer la Faune : {{ fauna.name }}</h1>

<div class="mx-auto p-2" style="width: 300px;">
   

    <img src={{  vich_uploader_asset(fauna, 'thumbnailFile') }} class="img-thumbnail" alt="..." />

</div>

    {{ form(form) }}  

{{ include('partials/footer.html.twig') }}

{% endblock %}