{% extends 'admin/admin.html.twig' %}

{% block title %}Glossaire{% endblock %}

{% block body %}
    <h1>Créer un terme</h1>

    {{ form(form) }}
  
   {{ include('partials/footer.html.twig') }}

   {% endblock %}
