{% extends 'admin/admin.html.twig' %}

{% block title "Glossaire :" ~ glossary.word %}

{% block body %}

<h1>Editer le Glossaire</h1>

<h2>{{ glossary.word }}</h2>

    {{ form(form) }}

{{ include('partials/footer.html.twig') }}

{% endblock %}
