{% extends 'admin/admin.html.twig' %}

{% block title "Flore :" ~ flora.name %}

{% block body %}

<h1>Editer la Flore</h1>

<h2>{{ flora.name }}</h2>
    
    {{ form(form) }}  

{{ include('partials/footer.html.twig') }}

{% endblock %}