{% extends 'base.html.twig' %}

{% block title "Créer une espèce" %}


{% block body %}
{{ include('partials/header.html.twig') }}

    <h1>Créer une nouvelle espèce</h1>
    

        {{ form(form) }} 
    

{{ include('partials/footer.html.twig') }}
{% endblock %}